@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './button/button-primary/button-primary.css';
@import './header/header.css';
@import './hero/hero.css';
@import './footer/footer.css';

:root {
    --color-background: hsl(257, 40%, 49%);
    --color-text-main: white;

    --font-base: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --headline1: 600 40px/60px var(--font-base);
    --haedline2: 600 24px/36px var(--font-base);
    --text-body1: 18px/27px var(--font-body);
    --text-body2: 16px/24px var(--font-body);
    --text-button1: 18px/27px var(--font-base);
    --text-button2: 12px/18px var(--font-base);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--font-base);

    margin: 0;
    padding: 0;
    inline-size: 100%;
    min-block-size: 100vh;

    display: flex;
    justify-content: center;

    background-color: var(--color-background);
    background-image: url('../images/bg-mobile.svg');
    background-size: 100%;
    background-repeat: no-repeat;   
}

.container {
    block-size: 100%;
    max-inline-size: 1440px;
    
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

@media only screen and (min-width: 580px) {
    .container {
        margin-inline-start: 120px;
        margin-inline-end: 120px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        margin-inline-start: 80px;
        margin-inline-end: 80px;
    }
}

@media only screen and (min-width: 1366px) {
    body {
        background-image: url('../images/bg-desktop.svg');
        background-size: contain;
        background-position: 0 center;
    }

    .container {
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
}
