@import './__nav/footer__nav.css';
@import './__item/footer__item.css';
@import './__link/footer__link.css';
@import './__link-img/footer__link-img.css';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-block-start: 65px;
    padding-block-end: 40px;
}

@media only screen and (min-width: 1024px) {
    .footer {
        margin-block-start: 28px;
        padding-block-end: 38px;
    }
}

@media only screen and (min-width: 1366px) {
    .footer {
        justify-content: flex-end;
    }
}
