.button-primary {
    font: var(--text-button2);
    color: var(--color-background);
    text-decoration: none;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);

    display: flex;
    justify-content: center;
    align-items: center;    

    border-radius: 25px; 
    block-size: 40px;
    inline-size: 200px;
    margin-block-start: 8px;

    background-color: var(--color-text-main);
}

.button-primary:hover {
    color: var(--color-text-main);
    background-color: hsla(300, 69%, 71%);
}

@media only screen and (min-width: 1440px) {
    .button-primary {
        font: var(--text-button1);
        block-size: 56px;
        border-radius: calc(56px/2);
        box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
        margin-block-start: 0;
    }
}