.header__logo {
    inline-size: 171px;
    block-size: 32px;

    margin-inline-start: -27px;
}

@media only screen and (min-width: 1440px) {
    .header__logo {
        inline-size: 215px;
        block-size: 76px;

        margin-inline-start: -10px;
    }
}
