.hero__headline {
    font: var(--haedline2);
    text-align: center;
    color: var(--color-text-main);

    margin-block-start: 0;
    margin-block-end: 0;
}

@media only screen and (min-width: 1024px) {
    .hero__headline {
        font: var(--headline1);
        text-align: start;
    }
}