@import './__img/hero__img.css';
@import './__content/hero__content.css';
@import './__headline/hero__headline.css';
@import './__text/hero__text.css';

.hero {
    margin-block-start: calc(127px - 98px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* @media only screen and (min-width: 768px) {
    .hero {
        margin-block-start: 32px;
    }
} */

@media only screen and (min-width: 1366px) {
    .hero {
        margin-block-start: 32px;
        margin-inline-end: 5px;
        flex-direction: row;
        align-items: flex-start;
        gap: 52px;
    }
}