.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    block-size: 28px;
    inline-size: 28px;
}

@media only screen and (min-width: 1440px) {
    .footer__link {
        block-size: 40px;
        inline-size: 40px;
    }
}