.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    min-inline-size: 100%;
    margin-block-start: 60px;
    
}

@media only screen and (min-width: 1440px) {
    .hero__content {
        margin-block-start: 44px;
        inline-size: 520px;
        align-items: flex-start;
        min-inline-size: unset;
        gap: 24px;
    }
}